{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <h1>Modification du profil de {{app.user.getFirstname()}} {{app.user.getLastname()}} </h1>
    <div class="p-3 admin white mt-3">
        {{form(form)}}
         
    </div>
{% endblock %}