{% extends 'base.html.twig' %}

{% block title %}Gestion de la page "Club"{% endblock %}

{% block body %}

<div class="row">
    {{ include('admin/baseAdmin.html.twig') }}

    <div class="col-md-8 white p-4">
        <div class="row white mt-3 p-3">
            <h2>Editer les informations du club</h2>
            <br/><br/>
            {{form(form)}}
        </div>
    </div>
</div>
{% endblock %}