{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="row">
    <div class='col-12 p-4' style='background-color: white'>
        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
        {{ form(emailForm) }}
    </div>
</div>
{% endblock %}