{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<h1>Réinitialisation du mot de passe</h1>
<br/>
<div class="row">
    <div class='col-12 p-4' style='background-color: white'>
        <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
        <form method="post">
            <label for="inputPassword" class="bold">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" required>
            <br/>
            <label for="inputPassword2" class="bold">Confirmer le mot de passe : </label>
            <input type="password" name="password2" id="inputPassword2" required>
            <br/><br/>
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-success" type="submit" id="valider">
                Valider
            </button>   
        </form>
    </div>
</div>
{% endblock %}