<div class="col-sm-4 wrapper white p-3">

    <!-- Sidebar -->
    <div class="sidebar-header mb-2">
        
    </div>
    <ul class="list-unstyled components">
        <hr/>
        <li class="active p-2">
            <a href="/admin/utilisateurs">Gestion des utilisateurs</a>
        </li>
        <hr/>
        <li class="p-2">
            <div>Gestion des articles</div>
            <ul>
                <li>
                    <a href="/admin/articles">Liste des articles</a>
                </li>
                <li>
                    <a href="/admin/articles/ajout">Ajouter un article</a>
                </li>
            </ul>
        </li>
        <hr/>
        <li class="p-2">
            <div>Page entrainement</div>
            <ul>
                <li>
                    <a href="/admin/entrainements/edit">Editer les horaires d'entrainement</a>
                </li>
            </ul>
        </li>
        <hr/>
        <li class="p-2">
            <div>Page "Club"</div>
            <ul>
                <li>
                    <a href="/admin/club/edit">Editer la page "Club"</a>
                </li>
            </ul>
        </li>
        <hr/>
    </ul>

</div>