{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}

<div class="row">
    {{ include('admin/baseAdmin.html.twig') }}

    <div class="col-md-8 white p-4">
        <h2>Création d'un article</h2>
        <br/>
        {{form(form)}}
    </div>
</div>
{% endblock %}