<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur le site du vélo club des Granges le roi.</p>
<p>Veuillez cliquer sur le lien ci-dessous pour activer votre compte :</p>
<p><a href="{{absolute_url(path('activation',{'token': token})) }}">Activer mon compte</a></p>