<h1>Réinitialisation du mot de passe</h1>
<p>Vous avez demandé une réinitialisation de votre mot de passe pour le site du vélo club des Granges le Roi.</p>
<p>Si vous êtes à l'initiative de cette demande, veuillez cliquer sur le lien ci-dessous pour procéder à la réinitialisation du mot de passe :</p>
<p><a href="{{absolute_url(path('app_reset_password',{'token': token})) }}">Réinitialiser mon mot de passe</a></p>