<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vélo Club Grangeois{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">
            <img src="{{asset('images/logo.png')}}" alt="Logo site du vélo club grangeois">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor03" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Les articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entrainements">Les entrainements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions">Le calendrier des compétitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/club">Le club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Connexion</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="/contact">Nous contacter</a>
                </li>#}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>