<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vélo Club Grangeois{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">
            <img src="{{asset('images/logo.png')}}" alt="Logo site du vélo club grangeois">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Les actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entrainements">Les entrainements</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="/competitions">Le calendrier des compétitions</a>
                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/club">Le club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                {% if app.user %}
                    {% for role in app.user.roles %}
                        {% if (role == 'ROLE_ADMIN') %}
                            <li class="nav-item" style="position: absolute; right: 0; margin-right: 20px;">
                                <button class="btn btn-primary p-0">
                                    <a class="nav-link" style='color:white;' href="/admin" id="navbarDropdownMenuLink">
                                        Administration
                                    </a>
                                </button>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/profil">Mon profil</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                {% endif %}
                {#<li class="nav-item">
                    <a class="nav-link" href="/contact">Nous contacter</a>
                </li>#}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>