<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vélo Club Grangeois{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="col-sm-4 col-lg-2" style='height: 100%;'>
            <a class="navbar-brand" href="/">
                <img src="{{asset('images/logo.jpg')}}" alt="Logo site du vélo club grangeois">
            </a>
        </div>
        
        <div class="d-sm-block d-md-block d-lg-none offset-sm-2 col-sm-4">
            {% if app.user %}
                {% for role in app.user.roles %}
                    {% if (role == 'ROLE_ADMIN') %}
                        <button class="btn btn-primary p-0 adminButton">
                            <a class="nav-link" style='color:white; padding:5px;' href="/admin">
                                Administration
                            </a>
                        </button>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-1" style='right: 20px;'>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        

        <div class="navbar-collapse collapse remove" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Les actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entrainements">Les entrainements</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="/competitions">Le calendrier des compétitions</a>
                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/club">Le club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                
                {% if app.user %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/profil">Mon profil</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </li>
                    <li class="d-lg-block d-md-none d-sm-none col-md-2" style="position: absolute; right:0;">
                        {% if app.user %}
                            {% for role in app.user.roles %}
                                {% if (role == 'ROLE_ADMIN') %}
                                    <button class="btn btn-primary p-0 adminButton">
                                        <a class="nav-link" style='color:white; padding:5px;' href="/admin" id="navbarDropdownMenuLink">
                                            Administration
                                        </a>
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                {% endif %}
                {#<li class="nav-item">
                    <a class="nav-link" href="/contact">Nous contacter</a>
                </li>#}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        
        
    {% endblock %}
</body>

</html>